h1{color: rgb(218, 19, 174);}
img{width: 400px}
div#ThirDiv{height: 600px; width: 600px; background-color: rgba(0, 179, 250, 0.247);}
span#SpanId{font-size: 18px;}
span#SpanId{margin: 50px;}
div#ThirDiv{padding: 50px 50px 50px 50px;}
div#ThirDIv{border: chartreuse 10px dashed;}